<%- include('../partials/header') %>
<body class="static-body">
    <%- include('../partials/board-nav') %>
    <div class="static-content">
        <h1>Chitchan 日本語</h1>
        <div class="japanese-section">
            <h2>Chitchanへようこそ</h2>
            <p>Chitchanは、誰でも自由に画像や意見を投稿できる掲示板です。</p>

            <h2>主な機能</h2>
            <ul>
                <li>アカウント登録不要</li>
                <li>画像付きの投稿が可能</li>
                <li>様々な話題のボード</li>
                <li>シンプルで使いやすいインターフェース</li>
            </ul>

            <h2>ルール</h2>
            <p>投稿する前に、必ず<a href="/rules">サイトルール</a>をご確認ください。</p>

            <div class="language-switch">
                <p>View this site in: <a href="/">English</a></p>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %> 