<%- include('../partials/header') %>

<body>
    <div class="static-container">
        <h1>Press Information</h1>

        <div class="press-section">
            <h2>About Chitchan</h2>
            <p>Chitchan is a simple image-based bulletin board where anyone can post comments and share images. The site consists of various themed boards where users can discuss topics ranging from Japanese culture to technology.</p>

            <h2>Media Inquiries</h2>
            <p>For press inquiries about Chitchan, please contact our media relations team.</p>

            <div class="contact-info">
                <h3>Press Contact</h3>
                <p>Email: press@chitchan.org</p>
            </div>

            <div class="press-resources">
                <h3>Resources</h3>
                <ul>
                    <li>Press Kit</li>
                    <li>Brand Guidelines</li>
                    <li>Media Assets</li>
                </ul>
            </div>
        </div>
    </div>
</body>

<%- include('../partials/footer') %> 