<%- include('../partials/header') %>
<body class="static-body">
    <%- include('../partials/board-nav') %>
    <div class="static-content">
        <h1>Chitchan Rules</h1>
        <div class="rules-section">
            <h2>Global Rules</h2>
            <ol>
                <li>You will not upload, post, discuss, request, or link to anything that violates local or United States law.</li>
                <li>You will immediately cease and not continue to access the site if you are under the age of 18.</li>
                <li>You will not post or request personal information ("dox") or calls to invasion ("raids").</li>
                <li>You will not post or request photos of minors.</li>
            </ol>
            
            <h2>Prohibited Content</h2>
            <ul>
                <li>NSFW content in worksafe boards</li>
                <li>Trolling, spamming, and excessive off-topic posting</li>
                <li>Advertising and self-promotion</li>
                <li>Impersonating site staff</li>
            </ul>
        </div>
    </div>
</body>
<%- include('../partials/footer') %> 