<%- include('../partials/header') %>
<body class="static-body">
    <%- include('../partials/board-nav') %>
    <div class="static-content">
        <h1>Advertise on 4chan</h1>
        <div class="advertise-section">
            <h2>Why Advertise with Us?</h2>
            <ul>
                <li>Millions of monthly visitors</li>
                <li>Engaged community</li>
                <li>Targeted advertising options</li>
                <li>Competitive rates</li>
            </ul>

            <h2>Ad Formats</h2>
            <div class="ad-formats">
                <h3>Banner Ads</h3>
                <p>Standard banner advertisements in various sizes:</p>
                <ul>
                    <li>728x90 Leaderboard</li>
                    <li>300x250 Rectangle</li>
                    <li>160x600 Skyscraper</li>
                </ul>

                <h3>Contact Us</h3>
                <p>For advertising inquiries, please contact: <a href="mailto:ads@4chan.org">ads@4chan.org</a></p>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %> 